workflows/n8n-design-assist.json
{
  "name": "design-assist",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "design-assist",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-design-assist",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "design-assist"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ 'projectId: ' + $json.body.projectId + '\\nconfirm: ' + ($json.body.confirm ? 'true' : 'false') + ($json.body.ops ? '\\nops (pre-planned): ' + JSON.stringify($json.body.ops) + '\\nexpectedRevision: ' + $json.body.expectedRevision : '') + '\\nDesigner request: ' + $json.body.request }}",
        "options": {
          "systemMessage": "PASTE assistant/PROMPT.md HERE, then append:\n\n## WEBHOOK MODE (two-phase)\nIf confirm is false: run the workflow only through plasmic_plan_mutations, then reply with JSON {\"phase\":\"plan\",\"valid\":...,\"baseRevision\":...,\"ops\":[the exact ops you planned],\"preview\":\"...\"} and STOP — do not apply.\nIf confirm is true: the caller supplies ops and expectedRevision from a previous plan phase — call plasmic_apply_mutations with exactly those, then reply with JSON {\"phase\":\"apply\",\"applied\":...,\"revision\":...,\"summary\":...}.\nNever ask the user questions; for ambiguous/unsupported requests reply {\"phase\":\"refused\",\"reason\":\"...\"}."
        }
      },
      "id": "agent-design-assist",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [260, 0]
    },
    {
      "parameters": {
        "model": "claude-sonnet-5",
        "options": { "maxTokensToSample": 8192 }
      },
      "id": "anthropic-model",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [180, 220],
      "credentials": {
        "anthropicApi": { "id": "REPLACE_ME", "name": "Anthropic account" }
      }
    },
    {
      "parameters": {
        "endpointUrl": "http://REPLACE_ME:3010/mcp",
        "serverTransport": "httpStreamable",
        "authentication": "bearerAuth",
        "options": {}
      },
      "id": "mcp-plasmic",
      "name": "Plasmic MCP",
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.1,
      "position": [400, 220],
      "credentials": {
        "httpBearerAuth": { "id": "REPLACE_ME", "name": "plasmic-mcp bearer" }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [560, 0]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "AI Agent", "type": "main", "index": 0 }]] },
    "AI Agent": { "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]] },
    "Anthropic Chat Model": {
      "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]]
    },
    "Plasmic MCP": { "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "active": false
}
